<!-- <div class="footer-wrap">
  <div class="footer">
    <div class="footer-text">
      <a href="#">Blog</a> | <a href="#">Help</a> | <a href="#">Credits</a> |
      <a href="#">Privacy Policy</a> |
      <a href="#">Contact Us</a>
    </div>
    <div class="footer-icon">
      <i class="fa-brands fa-square-facebook"></i>
      <span><i class="fa-brands fa-square-instagram"></i></span>
      <span><i class="fa-brands fa-square-x-twitter"></i></span>
    </div>
    <div class="footer-copiright">
      <p>&copy; 2024 Pvt Limited.</p>
    </div>
  </div>
</div> -->

<div class="wrapper">
  <div class="content"></div>

  <footer class="footer">
    <!-- Footer content -->
    <div class="footer-text">
      <a href="#">Blog</a> | <a href="#">Help</a> | <a href="#">Credits</a> |
      <a href="#">Privacy Policy</a> |
      <a href="#">Contact Us</a>
    </div>
    <div class="footer-icon">
      <i class="fa-brands fa-square-facebook"></i>
      <span><i class="fa-brands fa-square-instagram"></i></span>
      <span><i class="fa-brands fa-square-x-twitter"></i></span>
    </div>
    <p>&copy; All rights reserved.</p>
  </footer>
</div>
